@charset "utf-8";

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 95%;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-top: 1em;
  }

label {
    font-family: Georgia, "Times New Roman",
          Times, serif;
  }
  

  input:hover,
textarea:hover {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: red;
}
  input, textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 70%;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

  article {
    margin-top: 1em; 
  }

  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 25%;
    text-align: right;
  }

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.seccion1, .seccion2 {
    width: 50%;
}
@media (min-width: 500px) {
    .seccion1 {
        background: blue;
        width: 100%;
        -webkit-order: 1;
        order: 1;
    }
    .seccion2 {
        width: 100%;
        -webkit-order: 2;
        order: 2;
    }
}
@media (min-width: 1000px) {
    .seccion1 {
        background: yellowgreen;
        width: 50%;
        -webkit-order: 1;
        order: 1;
    }
    .seccion2 {
        width: 50%;
        -webkit-order: 2;
        order: 2;
    }
}
.infor {
    text-align:center;
}