@charset "utf-8";

button[is="mi-boton-limpiar"]{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #160f0f;
    background-color: #84c5e6;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

button[is="mi-boton"]{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #180f0f;
    background-color: #6bb3d6;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
    table {
    border: 2px solid #000000;
    }
    
    td, th {
        border: 1px solid #000000;
        text-align: center;
        
    }