@charset "UTF-8";

body {
    margin: center;
    padding: center;
    font-size: 30px;
}

table {
border: 4px solid #000000;
}

thead {
    background: yellow;
    color: #000000;
}

tfoot {
    background: burlywood;
    color: #000000;
    text-align: right;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
    
}
.numVehicle {
background: purple;
}